@use 'src/styles/vars';

.reposResults {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-template-rows: auto;
  gap: vars.$space-base * 2;

  .reposResult__card.card {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  }
}

@media screen and (max-width: 650px) {
  .reposResults {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
}
}