// TYPOGRAPHY

$font-size-base: 1em;

$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-very-large: 2.5rem;

// SPACING

$space-base: 8px;
// $space-small: $space-base * 2;    // 16px
// $space-medium: $space-base * 3;   // 24px
// $space-large: $space-base * 4;   // 32px

// COLOR PALETTE

$white: hsl(100deg, 100%, 100%);
$black: hsl(0deg, 0%, 0%);
$grey-dark: hsl(0deg, 0%, 10%);
$grey-lighter: hsl(0deg, 0%, 50%);
$grey-very-lighter: hsl(0, 0%, 95%);
$grey-light: hsl(200, 3%, 79%);
$grey-light-transparent: hsla(200, 3%, 79%, 0.5);
$grey-very-light: hsl(192, 15%, 94%);

// Border Radius
$radius: 5px;
$radius-medium: 10px;
$radius-large: 15px;

// SIZES

$size-base: 32px;