@use 'src/styles/vars';

.app {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: vars.$space-base * 2 ;
  background: vars.$grey-very-light;
  min-height: 100vh;
  
  &__title {
    text-align: center;

    & img {
      width: 250px;
    }
  }
}
