@use 'src/styles/vars';

.searchBar {
  background: vars.$white;
  border: 1px solid vars.$grey-light;
  margin-inline: vars.$space-base * 2 ;
  margin-block-end: vars.$space-base * 2;
  border-radius: vars.$radius;
  box-shadow: 0 1px vars.$grey-light-transparent;

  &__search {
    position: relative;
    padding: vars.$space-base * 2;
  
    .searchBar__input {
      border: 1px solid vars.$grey-light;
      padding-inline: vars.$space-base * 5;
      height: vars.$size-base;
      line-height: vars.$size-base;
      border-radius: vars.$radius;
      width: 100%;
    } 

    .searchBar__icon {
      height: vars.$size-base / 1.5;
      position: absolute;
      top: vars.$space-base * 3;
      left: vars.$space-base * 3;
    }
  }
}