@use 'src/styles/vars';

.searchBar {
  background: vars.$white;
  border: 1px solid vars.$grey-light;
  margin-block-end: vars.$space-base * 2;

    &__search {
      border: 1px solid vars.$grey-light;
      margin: vars.$space-base * 2;
      height: vars.$size-base;
      line-height: vars.$size-base;      

      &__icon {
        height: vars.$size-base / 1.5;
        margin-inline: vars.$space-base;
        vertical-align: text-bottom;
      }
    }
}